.diagram {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8,7.5vh);
  align-content: center;
  row-gap: 0;
  top: 5vh;
  left: 18vw;
  height: 95vh;
  width: 5vw;
  z-index: 5;
}
.center {
  position: relative;
  height: 7.5vh;
}
.center:hover {
  cursor: pointer;
}
.router {
  position: relative;
  height: 5vh;
}
.line {
  height: 2.5vh;
}
.router label {
  position: absolute;
  top: 2vh;
  left: -2vh;
  height: 3vh;
  width: 6vw;
  text-align: center;
  color: var(--color-accent);
  font-size: 1.2vh;
  z-index: -1;
}
.payload {
  position: absolute;
  top: 10vh;
  left: 30vw;
  height: 90vh;
  width: 70vw;
  background-color: var(--color-basic-grey);
  color: var(--color-accent-high);
}
pre {
  font-size: 0.9vh;
}